body{
  margin: 0px;
}
.header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  padding: 0px 10px;
}
.header input{
  width: 200px;
  padding: 6px;
  border-radius: 5px;
  border: solid 1px grey;
}
.user{
  padding: 10px 10px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user p{
  margin-bottom: 3px;
}
.user input{
  width: 100%;
  padding: 6px;
  border: solid 1px grey;
  border-radius: 4px;
}
button{
  background-color: rgb(19, 105, 254);
  color: white;
  border: solid 1px rgb(19, 105, 254) ;
  padding: 5px;
  border-radius: 4px;
}